.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    height: 80px;
    padding: 0 50px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 70%; /* Add border-radius property */
}

.App .navbar {
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
    color: #ef3f36;
    background: #140019;
    padding: 0 3em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.App .navbar .nav-links {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
}

.App .navbar .nav-links > a {
    color: #ef3f36;
    padding-left: 4em;
    text-decoration: none;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 1.2rem;
}
